doctype html
html
  head
    title Rickroll Result
    link(rel='stylesheet', href='/css/style.css')
    script.
      function copyToClipboard() {
        var message = "#{message}";
        var rickrollUrl = "#{rickrollUrl}";
        var hyperlink = `<a href="${rickrollUrl}" target="_blank">${message}</a>`;
        
        var tempInput = document.createElement('input');
        tempInput.value = hyperlink;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        alert("Copied the hyperlink: " + hyperlink);
      }
  body
    h1 Your Rickroll link is ready!
    p Your message will be a clickable link:
    p 
      a(href=rickrollUrl target="_blank") #{message}
    br
    button(onclick="copyToClipboard()") Copy Hyperlink
